<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="insert">
    <div>用户名：<input name="name" data-validate="required:用户名长度不能小于3"/></div>
    <div>密码：<input type="password" name="password" data-validate="required:用户名长度不能小于6"/></div>
    <div>确认密码：<input type="password" name="repassword" data-validate="required:用户名长度不能小于6"/></div>
    <div>邮箱：<input name="email" data-validate="required"/></div>
    <button type="submit">创建</button>
</form>
</body>
</html>